


<div class="container" id ="mainsection">

<div class="row">


  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <div class="panel-body row" >
         <div class="col-sm-3">
    <button type="submit" class="btn btn-success" (click)="runSimulation()" > &nbsp;&nbsp;&nbsp;&nbsp;Start &nbsp;&nbsp; <span class="glyphicon glyphicon-play" aria-hidden="true"></span> &nbsp;&nbsp; &nbsp;&nbsp;</button>

        </div>
        <div class="col-sm-3">
    <button type="submit" class="btn btn-danger" (click)="stopSummery()" > &nbsp;&nbsp;&nbsp;&nbsp; Stop &nbsp;&nbsp;<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> &nbsp;&nbsp; &nbsp;&nbsp;</button>

        </div>
        <div class="col-sm-3"><h4>Quotes:<strong> {{countQuotes}}</strong></h4></div>
        <div class="col-sm-3"><h4>Policies:<strong> {{countPolicies}}</strong></h4></div>

      </div>
    </div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 1 - Get A Quote</h3>
  </div>
  <div class="panel-body">
   <form (ngSubmit)="submitQoute(form)"  class="form-horizontal">

	  <div class="form-group">
		<label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.firstName" name ="firstName" class="form-control" id="firstName" placeholder="TesterFN">
		</div>
	  </div>

	  <div class="form-group">
		<label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.lastName" name ="lastName" class="form-control" id="lastName" placeholder="TesterLN">
		</div>
	  </div>


	  <div class="form-group">
		<label for="inputGender" class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.gender" name ="gender" class="form-control" id="gender" placeholder="Male">
		</div>
	  </div>

	 <div class="form-group">
		<label for="inputAge" class="col-sm-2 control-label">Age</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.age"  name ="age" class="form-control" id="age" placeholder="21">
		</div>
	  </div>

	 <div class="form-group">
		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.email"  name ="email" class="form-control" id="email" placeholder="tester@tester.com">
		</div>
	  </div>

	  <div class="form-group">
		  <label for="inputMobile" class="col-sm-2 control-label">Mobile</label>
		  <div class="col-sm-10">
			<input type="text" [(ngModel)]="model.mobile"  name ="mobile" class="form-control" id="mobile" placeholder="0403048805">
		  </div>
	  </div>

	  <div class="form-group">
		<label for="inputFromDestination" class="col-sm-2 control-label">From Destination</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.fromDestination" name ="fromDestination" class="form-control" id="fromDestination" placeholder="21 Regent St, Redfern">
		</div>
	  </div>


	  <div class="form-group">
		<label for="inputToDestination" class="col-sm-2 control-label">To Destination</label>
		<div class="col-sm-10">
		  <input type="text" [(ngModel)]="model.toDestination" name ="toDestination"  class="form-control" id="toDestination" placeholder="3 Martin Place, CBD, 2000">
		</div>
	  </div>

     <div class="form-group">
        <label for="inputCompany" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="model.company" name="company" class="form-control" id="company">
        </div>
      </div>

      <div class="form-group">
        <label for="inputInsuranceType" class="col-sm-2 control-label">Insurance Type</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="model.insuranceType" name="insuranceType" class="form-control" id="insuranceType">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 2 - Purchase Policy </h3>
  </div>
  <div class="panel-body">

    <form (ngSubmit)="submitPolicy(form)"  class="form-horizontal">

      <div class="form-group">
        <label for="inputPolicyAmount" class="col-sm-2 control-label">Quote Amount</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="policyAmount" name ="policyAmount" class="form-control" id="qouteId" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="inputQuoteId" class="col-sm-2 control-label">Policy Id</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="policyModel.quoteId" name ="policyId" class="form-control" id="qouteId" placeholder="">
        </div>
      </div>

    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Step 3 - Complete </h3>
  </div>
  <div class="panel-body">

    <div class="col-sm-2"></div>
       <div class="col-sm-10">
      <p>Congratulations! Your are now covered with our premium insurance policy. </p>
        <br/><p> policy referrence is:  </p>
      <strong>{{policyId}}</strong>
      <br/>


    </div>
  </div>
</div>

</div>

