<div class="container" id = "mainsection">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">SMS Micro-Insurance Simulator</h2>
    </div>
    <div class="panel-body">
        <div class="row" >
           <br/>

            <img class="img-responsive center-block" src="./app/assets/images/insurancePic.jpg" style="max-height:300px;padding-bottom:50px"><a [routerLink]="['/simulator']"></a></img>
            <br/>
            <span class="text-center">A simulator to generate mock traffic of micro-insurance quotes & policies spanning various companies & insurance types.</span>
        </div>
    </div>
</div>

</div>